* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containter {
  max-width: 1200px;
  width: 100vw;
  height: 100vh;
  margin: 20px auto;
}

.float-l {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: #eded38;
  height: 100px;
}

main {
  padding: 5px 0;
}

.sezione1 {
  width: 30%;
  height: 300px;
  background-color: #d391e3;
}

.sezione2 {
  width: calc(40% - 20px);
  height: 450px;
  background-color: #800080;
  margin: 0 10px;
}

.sezione3 {
  width: 30%;
}

.sezione3 .blocco {
  background-color: #d391e3;
}

.sezione3 .blocco:first-child {
  height: 200px;
  margin-bottom: 15px;
}

.sezione3 .blocco:nth-child(2) {
  height: 200px;
}

footer {
  background-color: #add8e6;
  height: 100px;
}
